#comments li {
	display: flex;
}
#comments li .gravatar {
	flex-grow: 0;
	min-width: 50px;
}
#comments li .comment {
	margin: 0 0 0 15px;
}
#comments li .comment .commentdate {
	display: block;
}
#comments li .comment .commenttext p {
	line-height: 1.3;
	margin: 0 0 14px;
}
#comments li .comment .commenttext img {
	display: inline;
	border: none;
	line-height: 16px;
	margin: 0 !important;
}
